/**
    Title: martin-card-game.css
    Author: Angela Martin
    Date: 03/07/2021
    Description: Styling for WEB 231 martin-card-game.html.
 */

.player-card {
    text-align: center;
}

#shuffled-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}